In [11]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('Salaries.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [13]:
df[:10]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.0,8601.0,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.9,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.0,51322.5,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.0,0.0,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN

#Предобработка данных для вычислений

In [4]:
df = df.drop('Notes',axis=1)
df = df.drop('EmployeeName',axis=1)
df = df.drop('Status',axis=1)
df = df.drop(np.where(df['JobTitle'].isnull())[0])
df.replace('Not Provided', np.NaN, inplace = True)
df.replace('Not provided', np.NaN, inplace = True)
df = df.astype({'JobTitle': np.str,'Benefits':np.float, 'OvertimePay': np.float, 'OtherPay': np.float, 'Agency': np.str, 'BasePay': np.float})
df.loc[(df.Benefits.isnull() ), ('Benefits')] = df.TotalPayBenefits-df.TotalPay
df.loc[(df.BasePay.isnull() ), ('BasePay')] = df.TotalPay-df.OvertimePay-df.OtherPay

<ipython-input-4-fad87d32cc4d>:7: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  df = df.astype({'JobTitle': np.str,'Benefits':np.float, 'OvertimePay': np.float, 'OtherPay': np.float, 'Agency': np.str, 'BasePay': np.float})
<ipython-input-4-fad87d32cc4d>:7: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  df = df.astype({'JobTitle': np.str,'Benefits':np.float, 'OvertimePay': np.float, 'OtherPay': np.float, 'Agency': np.str, 'BasePay': np.float})

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

#Группировка по департаментам

In [6]:
Medic = df['JobTitle'].str.lower().str.contains('medic', regex=False)
Fire = df['JobTitle'].str.lower().str.contains('fire', regex=False)
Police = df['JobTitle'].str.lower().str.contains('police', regex=False)
Departaments = df[Police^Fire^Medic]
Departaments['Depart'] = '1 2 3'
Departaments.loc[df['JobTitle'].str.lower().str.contains('police', regex=False),'Depart'] = 'Police'
Departaments.loc[df['JobTitle'].str.lower().str.contains('fire', regex=False),'Depart'] = 'Fire'
Departaments.loc[df['JobTitle'].str.lower().str.contains('medic', regex=False),'Depart'] = 'Medicine'

<ipython-input-6-04a63c9f214e>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Departaments['Depart'] = '1 2 3'
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [8]:
Departaments[:10]

,Id,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Depart
1,2,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,0.0,538909.28,538909.28,2011,San Francisco,Police
2,3,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,0.0,335279.91,335279.91,2011,San Francisco,Police
4,5,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,0.0,326373.19,326373.19,2011,San Francisco,Fire
6,7,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,0.0,315981.05,315981.05,2011,San Francisco,Fire
8,9,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,0.0,303427.55,303427.55,2011,San Francisco,Fire
9,10,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,0.0,302377.73,302377.73,2011,San Francisco,Fire
10,11,"ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",194999.39,71344.88,33149.90,0.0,299494.17,299494.17,2011,San Francisco,Fire
11,12,CAPTAIN III (POLICE DEPARTMENT),99722.00,87082.62,110804.30,0.0,297608.92,297608.92,2011,San Francisco,Police
14,15,"BATTALION CHIEF, (FIRE DEPARTMENT)",174872.64,74050.30,37424.11,0.0,286347.05,286347.05,2011,San Francisco,Fire
15,16,"COMMANDER III, (POLICE DEPARTMENT)",198778.01,73478.20,13957.65,0.0,286213.86,286213.86,2011,San Francisco,Police

In [10]:
Departaments.describe()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
count,14529.000000,14529.000000,14529.000000,14529.000000,14529.000000,14529.000000,14529.000000,14529.000000
mean,61821.005231,98523.969141,15958.551609,10827.986351,23752.112951,125310.507102,149062.620053,2012.442563
std,43961.330797,36089.131275,19966.759981,13158.385444,17756.873092,52533.403315,61825.251607,1.138904
min,2.000000,0.000000,0.000000,0.000000,-33.890000,0.000000,-33.890000,2011.000000
25%,20616.000000,78591.000000,1831.690000,2569.080000,0.000000,91087.560000,110935.190000,2011.000000
50%,64137.000000,110847.120000,8367.630000,7841.060000,32217.230000,132580.300000,158538.170000,2012.000000
75%,103680.000000,118274.200000,22429.380000,16127.750000,38347.520000,156269.070000,187054.890000,2013.000000
max,148562.000000,319275.010000,245131.880000,182234.590000,91302.460000,538909.280000,538909.280000,2014.000000